.card {
  @include grid-column(6);
  height: 22rem;
  margin-bottom: $base-spacing;
  position: relative;

  @include grid-media($neat-grid-tablet) {
    @include grid-column(4);
  }

  @include grid-media($neat-grid-desktop) {
    @include grid-column(3);
  }


  &__title {
    font-size: modular-scale(1);
    line-height: 1;
    margin-bottom: $base-spacing / 3;
  }

  &__subtitle {
    font-size: modular-scale(0);
    font-weight: normal;
  }

  &__image {
    background-position: center bottom;
    background-size: cover;
    height: 100%;
  }

  &__info {
    background-color: $action-color;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    padding: $base-spacing;
    position: absolute;
    top: 0;
    transition: ($base-duration * 2) $base-timing opacity;
    width: 100%;

    &:hover {
      opacity: 1;
    }

    @media screen and (min-width: $media-desktop) {
      font-size: modular-scale(1);
    }
  }
}
